.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading p,
.wf-loading ul,
.wf-loading a {
    visibility: hidden;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    background-color: #f4f4f4;
    color: #777;
}

h1 {
    color: #333;
    font-family: 'Quattrocento', serif;
    font-size: 38px;
    line-height: 1.2631em;
    margin: 0 0 0.6447em;
}
h2 {
    color: #333;
    font-family: 'Quattrocento', serif;
    font-size: 32px;
    line-height: 1.1484em;
    margin: 0 0 0.3828em;
}
h3 {
    color: #333;
    font-family: 'Quattrocento', serif;
    font-size: 23px;
    line-height: 1.3315em;
    margin: 0 0 0.5326em;
}

p {
    margin-bottom: 1.75em;
}
.lead {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.1667;
    margin-bottom: 0.875em;
}
ul, ol {
    margin-bottom: 1.75em;
}

a {
    color: #f07057;
}
a:hover {
    color: #222;
    text-decoration: none;
}

code {
    background-color: #ddd;
    color: #333;
    font-size: 14px;
}

pre {
    background-color: #f7f7f7;
    display: block;
    font-size: 14px;
    padding: 20px;
    margin: 0 0 1.75em;
}

.navbar {
    background-color: #fff;
    border: 0;
    left: 0;
    min-height: 60px;
    position: absolute;
    top: auto;
    width: 100%;
    box-shadow: 0 1px 3px #999;
}

.nav > li > a {
    color: #222;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    height: 60px;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 15px 30px;
    text-transform: uppercase;
}
.lt-ie8 .nav > li > a {
    display: block;
    float: none;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #f07057;
    color: #fff;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    background-color: #f07057;
    color: #fff;
}

a.navbar-brand {
    color: #222;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    height: 60px;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 15px 30px;
    text-transform: uppercase;
}
.lt-ie8 a.navbar-brand {
    height: 30px;
    line-height: 30px;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
    text-decoration: none;
    background-color: #f07057;
    color: #fff;
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #f07057;
    border-color: #f07057;
    color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #cccccc;
    border-radius: 1px;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

header.main {
    background: #222 url("../template/header-footer-bg.png") repeat;
    padding: 120px 0;
}

header.main p.title {
    color: #474747;
    font-family: 'Bree Serif', serif;
    font-size: 100px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #fff;
}

header.main p.subtitle {
    color: #e0e0e0;
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
}

/* Used for sticky footer */
#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
    min-height: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

main {
    overflow: hidden;
    padding: 100px 0 40px;
}

footer.main {
    background: #222 url("../template/header-footer-bg.png") repeat;
    color: #999;
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    margin-top: 150px;
    padding: 40px 0;

}
footer.main a {
    color: #fff;
}
footer.main a:hover {
    text-decoration: underline;
}
footer.main p.copyright {
    clear: both;
    float: right;
    margin: 0;
}

footer.main ul.social-media-icons {
    float: right;
    list-style: none;
    margin: 0 0 0.875em 0;
    padding: 0;
}
footer.main ul.social-media-icons li {
    float: left;
    margin-left: 10px;
    text-indent: -9999px;
}
footer.main ul.social-media-icons li a {
    background-image: url("../template/social-media-icons.png");
    background-repeat: no-repeat;
    display: block;
    height: 36px;
    width: 36px;
}
footer.main ul.social-media-icons li.linkedin a {
    background-position: 0 0;
}
footer.main ul.social-media-icons li.linkedin a:hover {
    background-position: 0 -36px;
}
footer.main ul.social-media-icons li.github a {
    background-position: -36px 0;
}
footer.main ul.social-media-icons li.github a:hover {
    background-position: -36px -36px;
}
footer.main ul.social-media-icons li.rss a {
    background-position: -72px 0;
}
footer.main ul.social-media-icons li.rss a:hover {
    background-position: -72px -36px;
}

article {
    overflow: hidden;
}
article.summary {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.75em;
}
article.summary.last {
    border-bottom: 0;
    margin-bottom: 0;
}

article.full header h1 {
    margin-bottom: 0.3224em;
}

article p.date {
    color: #999;
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    line-height: 1.3611em;
    margin-bottom: 0.3403em;
}

article ul.details {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
article ul.details li {
    display: inline;
    padding-right: 10px;
}

article .tags ul {
    display: inline;
    list-style: none;
    margin-left: 0;
    padding: 0;
}
article ul.details .tags li {
    display: inline;
    padding-right: 0;
}
article ul.details .tags li:after {
    content: ", ";
}
article ul.details .tags li.last:after {
    content: "";
}

article.full footer ul.interaction-options {
    text-align: right;
}

.btn {
    font-weight: bold;
}
.btn-primary {
    color: #ffffff;
    background-color: #f07057;
    border-color: #f07057;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #f27f68;
    border-color: #f27f68;
}

.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #f07057;
    border-color: #f7f7f7;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #f27f68;
    border-color: #f7f7f7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #f27f68;
    background-color: #fff;
    border-color: #f7f7f7;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #fff;
    background-color: #f4b0a3;
    border-color: #f7f7f7;
}

.pager li > a,
.pager li > span {
    color: #fff;
    background-color: #f07057;
    border-color: #f07057;
}
.pager li > a:hover,
.pager li > a:focus {
    color: #fff;
    background-color: #f27f68;
    border-color: #f27f68;
}

.glyphicon {
    padding-right: 5px;
}
/*
Glyphicons will not display after being hidden by the .wf-loading rule
in IE8.
*/
.lt-ie9 .glyphicon {
    visibility: visible !important;
}

.img.pull-left {
    padding: 10px 15px 10px 0;
}
.img.pull-right {
    padding: 10px 0 10px 15px;
}

#disqus_thread {
    padding: 1.75em 0;
}

::selection {
    background-color: #f07057;
    color: #f4f4f4;
}
::-moz-selection {
    background-color: #f07057;
    color: #f4f4f4;
}

#search {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9000;
}
#search .container {
    padding: 50px 15px;
}
#search a {
    color: #fff;
}
#search a:hover {
    color: #fff;
    text-decoration: underline;
}

#search-form {
    float: left;
    margin-bottom: 1.75em;
    width: 100%;
}
#search-form label {
    color: #f4f4f4;
    font-family: 'Quattrocento', serif;
    font-size: 38px;
}
#search-form a.search-toggle {
    float: right;
}

#search-results {
    float: left;
    width: 100%;
}
#search-results h3 {
    color: #f4f4f4;
}
#search-results ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#search-results a {
    font-weight: bold;
}
#search-results span.date {
    color: #676767;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .navbar-header {
        padding-left: 0;
        padding-right: 0;
    }
    .lt-ie8 .navbar-header {
        height: 60px;
        width: 100%;
    }

    header.main {
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}
