---
layout: default
---
<article class="full">
    <header>
        <p class="date">{{ page.date | date_to_long_string}}</p>
        <h1>{{ page.title | escape }}</h1>

        <ul class="details">
            <li class="tags">
                <span class="glyphicon glyphicon-tags"></span>
                <ul>
                {% for tag in page.tags %}
                    <li{% if forloop.last %} class="last"{% endif %}><a href="/tag/{{ tag | downcase }}">{{ tag | escape }}</a></li>
                {% endfor %}
                </ul>
            </li>
            <li class="comments"><span class="glyphicon glyphicon-comment"></span> <a href="{{ site.url }}{{ page.url }}#disqus_thread">Comment</a></li>
        </ul>
    </header>

    {{ content }}

    <footer>
        <ul class="interaction-options list-inline">
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title | cgi_escape }}" data-via="HowardHLu" data-count="none">Tweet</a>
            </li>
            <li>
                <div class="g-plusone" data-size="tall" data-annotation="none"></div>
            </li>
            <li>
                <div id="fb-root"></div>
                <script>
                    window.fbAsyncInit = function() {
                        FB.init({
                            appId: '625720924124984',
                            channelUrl: '{{ site.url }}/channel.html',
                            status: true,
                            cookie: true,
                            xfbml: true
                        });

                        FB.Event.subscribe('edge.create', function(targetUrl) {
                            ga('send', 'social', 'facebook', 'like', targetUrl);
                        });
                        FB.Event.subscribe('edge.remove', function(targetUrl) {
                            ga('send', 'social', 'facebook', 'unlike', targetUrl);
                        });
                    };

                    (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/all.js";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-href="{{ site.url | uri_escape }}{{ page.url | uri_escape }}" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div>
            </li>
            <li><a href="#top">&uarr; Back to top</a></li>
        </ul>

        <script>
            $.getScript('http://platform.twitter.com/widgets.js', function() {
                twttr.ready(function(twttr) {
                    twttr.events.bind('tweet', function() {
                        ga('send', 'social', 'twitter', 'tweet', document.URL);
                    });
                });
            });

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>

        <div id="disqus_thread"></div>
        <script>
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </footer>
</article>

<ul class="pager">
    {% if page.next %}
        <li class="previous"><a href="{{ page.next.url }}">&larr; Newer</a></li>
    {% endif %}

    {% if page.previous %}
        <li class="next"><a href="{{ page.previous.url }}">Older &rarr;</a></li>
    {% endif %}
</ul>
